
function Ball.new 0

push constant 0

call Memory.alloc 1

push argument 0

pop field 0

push argument 1

pop field 1

push argument 2

pop field 10

push argument 3

push constant 6

sub

pop field 11

push argument 4

pop field 12

push argument 5

push constant 6

sub

pop field 13

push constant 0

pop field 14

call show 1

pop temp 0

push pointer 0

return

function Ball.dispose 1

push argument 0

call pointer 0

push pointer 0

call Memory.deAlloc 1

pop temp 0

push constant 0

return

function Ball.show 1

push argument 0

call pointer 0

push constant 1

call Screen.setColor 1

pop temp 0

call draw 1

pop temp 0

push constant 0

return

function Ball.hide 1

push argument 0

call pointer 0

push constant 0

call Screen.setColor 1

pop temp 0

call draw 1

pop temp 0

push constant 0

return

function Ball.draw 1

push argument 0

call pointer 0

push field 0

push field 1

push field 0

push constant 5

add

push field 1

push constant 5

add

call Screen.drawRectangle 4

pop temp 0

push constant 0

return

function Ball.getLeft 1

push argument 0

call pointer 0

push field 0

return

function Ball.getRight 1

push argument 0

call pointer 0

push field 0

push constant 5

add

return

function Ball.setDestination 4

push argument 0

call pointer 0

push argument 0

push field 0

sub

pop field 2

push argument 1

push field 1

sub

pop field 3

push field 2

call Math.abs 1

pop local 0

push field 3

call Math.abs 1

pop local 1

push local 0

push local 1

lt

pop field 7

push field 7

if-goto TRUE_1

goto FALSE_1

label TRUE_1

push local 0

pop local 2

push local 1

pop local 0

push local 2

pop local 1

push field 1

push argument 1

lt

pop field 8

push field 0

push argument 0

lt

pop field 9

goto CONTINUE_1

label FALSE_1

push field 0

push argument 0

lt

pop field 8

push field 1

push argument 1

lt

pop field 9

label CONTINUE_1

push constant 2

push local 1

call Math.multiply 2

push local 0

sub

pop field 4

push constant 2

push local 1

call Math.multiply 2

pop field 5

push constant 2

push local 1

push local 0

sub

call Math.multiply 2

pop field 6

push constant 0

return

function Ball.move 1

push argument 0

call pointer 0

call hide 1

pop temp 0

push field 4

push constant 0

lt

if-goto TRUE_2

goto FALSE_2

label TRUE_2

push field 4

push field 5

add

pop field 4

goto CONTINUE_2

label FALSE_2

push field 4

push field 6

add

pop field 4

push field 9

if-goto TRUE_3

goto FALSE_3

label TRUE_3

push field 7

if-goto TRUE_4

goto FALSE_4

label TRUE_4

push field 0

push constant 4

add

pop field 0

goto CONTINUE_4

label FALSE_4

push field 1

push constant 4

add

pop field 1

label CONTINUE_4

goto CONTINUE_3

label FALSE_3

push field 7

if-goto TRUE_5

goto FALSE_5

label TRUE_5

push field 0

push constant 4

sub

pop field 0

goto CONTINUE_5

label FALSE_5

push field 1

push constant 4

sub

pop field 1

label CONTINUE_5

label CONTINUE_3

label CONTINUE_2

push field 8

if-goto TRUE_6

goto FALSE_6

label TRUE_6

push field 7

if-goto TRUE_7

goto FALSE_7

label TRUE_7

push field 1

push constant 4

add

pop field 1

goto CONTINUE_7

label FALSE_7

push field 0

push constant 4

add

pop field 0

label CONTINUE_7

goto CONTINUE_6

label FALSE_6

push field 7

if-goto TRUE_8

goto FALSE_8

label TRUE_8

push field 1

push constant 4

sub

pop field 1

goto CONTINUE_8

label FALSE_8

push field 0

push constant 4

sub

pop field 0

label CONTINUE_8

label CONTINUE_6

push field 0

push field 10

gt

not

if-goto TRUE_9

goto FALSE_9

label TRUE_9

push constant 1

pop field 14

push field 10

pop field 0

goto CONTINUE_9

label CONTINUE_9

push field 0

push field 11

lt

not

if-goto TRUE_10

goto FALSE_10

label TRUE_10

push constant 2

pop field 14

push field 11

pop field 0

goto CONTINUE_10

label CONTINUE_10

push field 1

push field 12

gt

not

if-goto TRUE_11

goto FALSE_11

label TRUE_11

push constant 3

pop field 14

push field 12

pop field 1

goto CONTINUE_11

label CONTINUE_11

push field 1

push field 13

lt

not

if-goto TRUE_12

goto FALSE_12

label TRUE_12

push constant 4

pop field 14

push field 13

pop field 1

goto CONTINUE_12

label CONTINUE_12

call show 1

pop temp 0

push field 14

return

function Ball.bounce 6

push argument 0

call pointer 0

push field 2

push constant 10

call Math.divide 2

pop local 2

push field 3

push constant 10

call Math.divide 2

pop local 3

push argument 0

push constant 0

eq

if-goto TRUE_13

goto FALSE_13

label TRUE_13

push constant 10

pop local 4

goto CONTINUE_13

label FALSE_13

push field 2

push constant 0

lt

not

push argument 0

push constant 1

eq

and

push field 2

push constant 0

lt

push argument 0

push constant 1

neg

eq

and

or

if-goto TRUE_14

goto FALSE_14

label TRUE_14

push constant 20

pop local 4

goto CONTINUE_14

label FALSE_14

push constant 5

pop local 4

label CONTINUE_14

label CONTINUE_13

push field 14

push constant 1

eq

if-goto TRUE_15

goto FALSE_15

label TRUE_15

push constant 506

pop local 0

push local 3

push constant 50

neg

call Math.multiply 2

push local 2

call Math.divide 2

pop local 1

push field 1

push local 1

push local 4

call Math.multiply 2

add

pop local 1

goto CONTINUE_15

label FALSE_15

push field 14

push constant 2

eq

if-goto TRUE_16

goto FALSE_16

label TRUE_16

push constant 0

pop local 0

push local 3

push constant 50

call Math.multiply 2

push local 2

call Math.divide 2

pop local 1

push field 1

push local 1

push local 4

call Math.multiply 2

add

pop local 1

goto CONTINUE_16

label FALSE_16

push field 14

push constant 3

eq

if-goto TRUE_17

goto FALSE_17

label TRUE_17

push constant 250

pop local 1

push local 2

push constant 25

neg

call Math.multiply 2

push local 3

call Math.divide 2

pop local 0

push field 0

push local 0

push local 4

call Math.multiply 2

add

pop local 0

goto CONTINUE_17

label FALSE_17

push constant 0

pop local 1

push local 2

push constant 25

call Math.multiply 2

push local 3

call Math.divide 2

pop local 0

push field 0

push local 0

push local 4

call Math.multiply 2

add

pop local 0

label CONTINUE_17

label CONTINUE_16

label CONTINUE_15

push local 0

push local 1

call setDestination 3

pop temp 0

push constant 0

return

