
function Main.main 1
push constant 8001
push constant 16
push constant 1
neg
call Main.fillMemory 3
pop temp 0
push constant 8000
call Memory.peek 1
pop local 0
push local 0
call Main.convert 1
pop temp 0
push constant 0
return
function Main.convert 3
push constant 0
not
pop local 2
label WHILE_1
push local 2
not
if-goto WHILE_CONTINUE_1
push local 1
push constant 1
add
pop local 1
push local 0
call Main.nextMask 1
pop local 0
push local 1
push constant 16
gt
not
if-goto TRUE_2
goto FALSE_2
label TRUE_2
push argument 0
push local 0
and
push constant 0
eq
not
if-goto TRUE_3
goto FALSE_3
label TRUE_3
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
pop temp 0
goto CONTINUE_3
label FALSE_3
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0
label CONTINUE_3
goto CONTINUE_2
label FALSE_2
push constant 0
pop local 2
label CONTINUE_2
goto WHILE_1
label WHILE_CONTINUE_1
push constant 0
return
function Main.nextMask 0
push argument 0
push constant 0
eq
if-goto TRUE_4
goto FALSE_4
label TRUE_4
push constant 1
return
goto CONTINUE_4
label FALSE_4
push argument 0
push constant 2
call Math.multiply 2
return
label CONTINUE_4
function Main.fillMemory 0
label WHILE_5
push argument 1
push constant 0
gt
not
if-goto WHILE_CONTINUE_5
push argument 0
push argument 2
call Memory.poke 2
pop temp 0
push argument 1
push constant 1
sub
pop argument 1
push argument 0
push constant 1
add
pop argument 0
goto WHILE_5
label WHILE_CONTINUE_5
push constant 0
return
